<body>
    <div class="registration">
        <p id="title" type="text">REGISTRATION</p>

        <br>
        <label id="label" for="fname">Enter username</label>
        <br>
        <input [(ngModel)]="user.username" type="text" id="form" placeholder="LOGIN" />


        <br>
        <label id="label" for="fname">Enter password</label>
        <br>
        <input [(ngModel)]="user.password" id="form" placeholder="PASSWORD" />
        <br>

       <mat-form-field>
            <mat-label>Roles</mat-label>
            <mat-select [formControl]="roleControl" multiple>
              <mat-option *ngFor="let role of roles" [value]="role">{{role.localizationText}}</mat-option>
            </mat-select>
            <mat-error *ngIf="roleControl.hasError('required')">Please choose a role</mat-error>
          </mat-form-field> 
<!-- <mat-hint>{{roleControl2.value?.[0]?.name}}</mat-hint>  -->


        <br>
        <button type="submit" id="button" (click)="createUser()">SUBMIT</button>
        <br>
        <p id="title" [hidden]="!errorIntercepted">THIS USERNAME EXIST</p>
        <p id="title" [hidden]="!isUserCreated">USER SUCCESSFULLY CREATED</p>
    </div>
</body>