<body>
    <div>
        <p id="title" type="text">Login</p>

        <br>
        <!-- <label for="fname">Login:</label>-->
        <input [(ngModel)]="user.username" type="text" id="form" placeholder="input login" />
        <br>
        <label id="label" for="fname">Default login: user</label>
        <br>

        <!-- <label for="fname">Password:</label>-->
        <input [(ngModel)]="user.password" id="form" placeholder="input password" />
        <br>
        <label id="label" for="fname">Default password: password</label>
        <br>

        <br>
        <button type="submit" id="button" (click)="login()">Enter</button>
        <br>
        <p id="title" [hidden]="true">Authorization Error</p>