body {

    flex-direction: column;
    list-style-type: none;
    padding: calc(1 * var(--spacing));
    background: linear-gradient(to left top, #554545, #4e2d69) fixed;
}

div {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    width: 400px;
    font-size: 18px;

    color: rgba(255, 255, 255, 0.8);
    transition: all 0.5s;
}

#label {
    width: 400px;
    padding: 10px;
    font-size: 14px;
}

#title {
    text-align: center;
}

#form {
    width: 400px;
    padding: 10px;
    font-size: 18px;
    outline: none;
    /*   background: linear-gradient(to left top, #ebf1f1, #22132e) fixed;  */

    color: rgba(28, 147, 163, 0.8);
    transition: all 0.5s;

}

#button {
    width: 425px;
    height: 60px;
    padding: 10px;
    margin-top: 10px;
    font-size: var(--font-size);
    font-weight: bold;
    outline: none;


    background-color: var(--primary);
    color: var(--on-primary);

    transition: all 0.5s;

}

#button:hover {
    filter: brightness(80%);
}

#button:focus {
    filter: brightness(120%);
}

input {
    background: transparent;
    border: 1px solid var(--text);
    border-radius: 3px;
    line-height: 30px;
    font-size: var(--font-size);
    margin: var(--spacing) 0;
    max-width: 416px;
    padding: calc(4 * var(--spacing));
    width: 100%;
}