<body>
    <div class="ToDoList">
        <p id="title" type="text">LOGIN</p>

        <br>
        <input [(ngModel)]="user.username" type="text" id="form" placeholder="LOGIN" />
        <br>
        <label id="label" for="fname">Default login: user</label>
        <br>

        <input [(ngModel)]="user.password" id="form" placeholder="PASSWORD" />
        <br>
        <label id="label" for="fname">Default password: password</label>
        <br>

        <br>
        <button type="submit" id="button" (click)="login()">ENTER</button>
        <br>
        <br>
        <button type="submit" id="button" (click)="goToRegistration()">SIGN UP</button>
        <br>
        <p id="title" [hidden]="true">Authorization Error</p>
    </div>
</body>