<body>
    <div class="ToDoList">
        <div class="addItem">
            <h1>ToDo list</h1>
            <form (ngSubmit)="createTodo()" #todoForm="ngForm">
                <input [(ngModel)]="content" placeholder="Add a new todo content " class="addText" name="newTodo">
                <button type="submit" class="btn-success">ADD</button>
            </form>
        </div>
        <ul>
            <li class="row" *ngFor="let todo of toDoList; let number = index">
                <input type="checkbox" [checked]="todo.checked" (change)="updateCheckbox(todo)" id="no" />
                <span class="textInRow">{{todo.content}}</span>
                <button type="deleteOne" (click)="deleteTodo(todo)" class="deleteOne">Delete</button>

            </li>
        </ul>
        <br />
        <div class="deleteItem">
            <button type="deleteAll" (click)="deleteSelected()" class="deleteAll">DELETE ALL</button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="deleteItem">
            <button type="deleteAll" (click)="goToUserList()" class="deleteAll">GO TO USER LIST</button>
        </div>
    </div>
</body>