<div class="ToDoList">
<!--Comment-->

    <h1>ToDo list</h1>
    <div class="addItem">
        <form (ngSubmit)="createTodo()" #todoForm="ngForm">
            <input [(ngModel)]="content" placeholder="Add a new todo content " class="addText" name="newTodo">
            <button type="submit" class="btn-success">ADD</button>

        </form>
    </div>

    <ul>
        <li class="row" *ngFor="let todo of toDoList; let number = index">
            <input type="checkbox" [(ngModel)]="todo.checked">
            <span class="textInRow">{{todo.content}}</span>
            <button type="deleteOne" (click)="deleteTodo(todo)" class="deleteOne">Delete</button>

        </li>
    </ul>
    <br />
    <div class="deleteItem">
        <button type="deleteAll" (click)="deleteSelected()" class="deleteAll">DELETE ALL</button>
    </div>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="getTodoList">
        <button type="deleteAll" (click)="getToDoList()" class="deleteAll">getToDoList()</button>
    </div>

</div>